@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html, body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  background: url("./assets/bgg.jpg") center;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #999;
    width: calc(100vw - 30px);
    background: #f0f2e3;

    .logo {
      color: #e74c3c;
      font-weight: 300;
      font-size: 26px;
      line-height: 0.65;
      font-family: 'Lobster', cursive;
    }
  }

  .dice-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    place-items: center;
    place-content: center;
    height: 50vh;

    &.not-allowed {
      pointer-events: none;
      filter: brightness(0.9);
    }

    .dice {
      display: flex;
      width: 75px;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      background-color: #f5f5f5;
      padding: 10px 14px;
      border-radius: 10px;
      border: 2px solid #cacaca;
      cursor: pointer;
      height: fit-content;

      &:hover {
        background-color: #bf6e1d47;
        border-color: #fff;
      }

      p {
        margin: 0;
      }

      &-label {
        color: #666;
      }

      &-value {
        color: #444444;
      }
    }
  }

  button {
    padding: 8px 10px;
    border-radius: 5px;
    color: #555;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #d87c1f;
    background-color: #fff;
    font-weight: 700;

    &.primary {
      background-color: #f18f2d;
      color: #fff;

      &.game {
        display: flex;
        align-items: center;
        padding: 12px 16px;
        text-transform: uppercase;
        border-radius: 50px;
        gap: 10px;

        &:before {
          content: '-';
          display: block;
          width: 14px;
          height: 14px;
          border: 2px solid #fff;
          border-radius: 4px;
        }
      }
    }

    &:hover {
      background-color: #f18f2d;
      color: #fff;

      &.game:before {
        transform: rotate(-45deg);
        transition: all 0.4s ease-in-out;
      }
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .scores-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 10px;
    padding: 0 10px;
    min-width: 600px;
    height: 130px;
    border-radius: 10px;
    box-shadow: #f18f2d45 0px 6px 12px -2px, rgb(0 0 0 / 21%) 0px 3px 7px -3px;
    background-color: #848484;

    p, h3 {
      margin: 0;
    }

    span {
      margin: 0 16px;
    }

    .result {
      &-won {
        color: #51d35c;
      }

      &-lost {
        color: #e46f6f;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;

    .game-actions {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: calc(100vh - 100px);
      padding: 14px 20px;
      background-color: #456;
      border: 1px solid #b2b2b2;
      border-radius: 30px 30px 0 0;
      color: #fff;
      font-weight: 800;

      h4 {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .App {
    .scores-container {
      min-width: 300px;
      height: 80px;
    }

    .game-actions {
      flex-direction: column;
      gap: 10px;
    }
  }
}


//index.css
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #d2d2d2;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:hover {
    border-color: #646cff;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  
    a:hover {
      color: #747bff;
    }
  
    button {
      background-color: #f9f9f9;
    }
  }
  